/*
Welcome to Custom CSS!

CSS (Cascading Style Sheets) is a kind of code that tells the browser how
to render a web page. You may delete these comments and get started with
your customizations.

By default, your stylesheet will be loaded after the theme stylesheets,
which means that your rules can take precedence and override the theme CSS
rules. Just write here what you want to change, you don't need to copy all
your theme's stylesheet content.
*/
/* Add div around manually inserted img */
.img-wrapper:after {
	content: '';
	display: block;
	clear: both;
}

@media screen and (min-width: 1180px) {
	.has-sidebar .content-area {
	/*margin-right: 59px; */
	/*padding-right: 59px; */
		padding-right: 45px;
		width: 700px;
		margin: 0 59px;
	}
}

code {
	font-size: inherit !important;
}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

.sequence-step {
	-webkit-font-smoothing: antialiased;
	background-color: rgb(51,51,51);
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	box-sizing: border-box;
	color: rgb(255,255,255);
	display: block;
	font-family: Lora, Georgia, serif;
	font-size: 17px;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	text-align: center;
	width: 24px;
}

.bullet-block {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	color: rgb(73,71,71);
	display: table-cell;
	font-family: Lora, Georgia, serif;
	font-size: 17px;
	line-height: 24px;
	padding-right: 10px;
	width: 40px;
}

.section {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	color: rgb(73,71,71);
	display: table-cell;
	font-family: Lora, Georgia, serif;
	font-size: 17px;
	line-height: 24px;
	margin-top: 48px;
/*width: 700px;*/
}

.site-title {
	border-bottom-color: rgb(85,85,85);
	border-bottom-style: none;
	border-bottom-width: 0;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(85,85,85);
	border-left-style: none;
	border-left-width: 0;
	border-right-color: rgb(85,85,85);
	border-right-style: none;
	border-right-width: 0;
	border-top-color: rgb(85,85,85);
	border-top-style: none;
	border-top-width: 0;
	color: rgb(85,85,85);
	display: block;
	font-family: Lora, Georgia, serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	height: 24px;
	line-height: 24px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	outline-color: rgb(85,85,85);
	outline-style: none;
	outline-width: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	text-align: center;
	vertical-align: baseline;
	width: 700px;
}

.site-title>a:link {
	color: #7c7979;
}

/* visited link */
.site-title>a:visited {
	color: #7c7979;
}

/* mouse over link */
.site-title>a:hover {
	color: #7c7979;
}

/* selected link */
.site-title>a:active {
	color: #7c7979;
}

.inlinefunc {
	color: #7f7c7c;
}

/*h1 > code {
	font-size: 33px;
}

h1 > a > code {
	font-size: 33px;
}*/
.site-header {
	margin-bottom: 0;
	display: none;
}

.site-footer {
	border-top: none;
}

/* hide the default navigation */
.main-navigation-wrapper {
	display: none;
}

/******************************************
 * main navigation header 
 */
.navbar--top_wrapper li a {
	font-size: 1.1em;
	margin-bottom: .7em;
}

.navbar--top {
	background-color: #2b302d;
	min-height: 100px;
	width: 100vw;
	margin-left: calc(50% - 50vw);
	z-index: 1000;
	font-family: Roboto, sans-serif;
	font-size: .75em;
	margin-top: -4px;
}

@media screen and (min-width: 1024px) {
	.navbar--top {
		font-size: .825em;
	}
}

.navbar--top_wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 999;
}

.navbar--top_wrapper::after {
	clear: both;
	content: "";
	display: table;
}

.navbar--top_wrapper::after {
	clear: both;
	content: "";
	display: table;
}

.navbar_nav::after {
	clear: both;
	content: "";
	display: table;
}

.navbar__logo__link {
	display: inline-block;
	float: left;
	height: 100px;
	padding-left: .2em;
	width: 170px;
	margin-left: 2em;
	background: url(https://cdn.zevross.com/zevross/logo-zevross.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	opacity: .95;
}

.navbar__logo__link:active,.navbar__logo__link:focus,.navbar__logo__link:hover {
	opacity: 1;
}

.navbar--top_mobile-toggle {
	color: rgba(249,249,247,.7);
	display: block;
	float: right;
	line-height: 100px;
	margin: 0;
	margin-right: 1em;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
}

@media screen and (min-width: 854px) {
	.navbar--top_mobile-toggle {
		display: none;
	}
}

.navbar--top_mobile-toggle:focus,.navbar--top_mobile-toggle:hover {
	color: #fff;
}

.navbar--top_mobile-toggle svg {
	vertical-align: middle;
}

.navbar--top_mobile-toggle svg:hover #navbar--hamburger {
}

.navbar--top_mobile-toggle svg #navbar--hamburger {
	transition: .3s ease-in-out;
}

ul.navbar-top-menu {
	clear: both;
	text-transform: uppercase;
	display: none;
	margin: 0 auto;
	overflow: visible;
	padding: 0;
	-webkit-transform-style: preserve-3d;
	width: 100%;
	z-index: 99999;
}

ul.navbar-top-menu.show {
	display: block;
}

@media screen and (min-width: 854px) {
	ul.navbar-top-menu {
		display: inline-block;
	}
	
	ul.navbar-top-menu {
		float: right;
		clear: none;
		display: inline-block;
		width: auto;
		height:100px;
	}
	
	.nav_link:last-child {
		margin-right: 2.5em;
	}
}

.nav_link {
	background: #2b302d;
	display: block;
	line-height: 50px;
	overflow: hidden;
	padding-left: .5em;
	padding-right: .5em;
	text-align: right;
	width: 98%;
	z-index: 9999;
}

.nav_link a {
	color: rgba(249,249,247,.7);
	display: inline-block;
	outline: 0;
	text-decoration: none;
}

.nav_link a:focus,.nav_link a:hover {
	color: #fff;
}

@media screen and (min-width: 854px) {
	.nav_link {
		background: 0 0;
		display: inline;
		line-height: 100px;
	}
	
	.nav_link a {
		padding-left: .5em;
		padding-right: .5em;
		position: relative;
	}
	
	.nav_link.nav_link--isactive a {
		color: #76ba43;
	}
	
	.nav_link.nav_link--isactive a::before {
		position: absolute;
		content: "";
		bottom: 30px;
		left: 0;
		width: 100%;
		height: 8px;
		background-color: #76ba43;
	}

  .nav_link.nav_link--contact a {
	  display:inline;
	  border:1px solid #76ba43;
	  padding:.8em 2em
  }
  
}

.contact-us .nav_link--contact a {
    color: rgb(118, 186, 67);
    box-shadow: rgb(118, 186, 67) 0px 0px 0px 1px;
}

li.more.nav_link {
	padding-right: 0;
}

@media screen and (min-width: 1024px) {
	li.more.nav_link {
		padding-right: 1em;
	}
}

li.more.nav_link a {
	margin-right: 1em;
}

li.more.nav_link>a {
	padding-right: .6em;
}

li.more.nav_link>a::after {
	position: absolute;
	top: auto;
	right: -.4em;
	bottom: auto;
	left: auto;
	color: rgba(249,249,247,.7);
	content: "\25BE";
}

li.more {
	overflow: visible;
	padding-right: 0;
}

li.more a {
	padding-right: 1em;
}

li.more>a {
	padding-right: 1.6em;
	position: relative;
}

@media screen and (min-width: 1024px) {
	li.more>a {
		margin-right: 1em;
	}
}

li.more>a::after {
	content: "›";
	font-size: 1.2em;
	position: absolute;
	right: .5em;
}

li.more:focus>.submenu,li.more:hover>.submenu {
	display: block;
	background-color: #fff;
}

@media screen and (min-width: 854px) {
	li.more {
		padding-left: .5em;
		padding-right: .5em;
		position: relative;
	}
}

/* add the background image sub banner */
.banner {
	background-color: #1d505a;
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;
}

.banner.banner--subpages {
	display: none;
	margin-bottom: 25px;
	width: 100vw;
	margin-left: calc(50% - 50vw);
}

@media screen and (min-width: 667px) {
	.banner.banner--subpages {
		background-attachment: scroll;
		display: block;
		height: 30px;
	}
}

@media screen and (min-width: 1024px) {
	.banner.banner--subpages {
		height: 40px;
	}
}

/**
 * Footer
 */
.footer--page {
	min-height: 25em;
	margin-top: 3em;
	text-align: center;
	background-color: #1d505a;
	background-image: url(https://www.zevross.com/img/footer-461898bc08.png);
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;
	box-shadow: 0 30em 0 rgba(4,11,13,.15);
	width:100vw;
	margin-left:calc(50% - 50vw);
}

@media screen and (min-width: 768px) {
	.footer--page {
		background-attachment: fixed;
		background-image: url(https://www.zevross.com/img/footer-ee04ff4cd2.svg);
		background-position: 27% center !important;
	}
}

@media screen and (min-width: 1024px) {
	.footer--page {
		background-position: center;
	}
}

.footer__inner {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	min-height: 25em;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.footer__inner::after {
	clear: both;
	content: "";
	display: table;
}

@media screen and (min-width: 768px) {
	.footer__inner {
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
}

.footer__content--right {
	margin: 10px;
	padding: 40px;
	text-align: center;
	width: 246px;
	font-family: "Roboto Slab", serif;
	font-weight: 400;
}

.footer__content--right a {
	color: #fff;
}

@media screen and (min-width: 768px) {
	.footer__content--right {
		text-align: left;
	/*width: 36%;*/
		width: 26%;
		margin: 55px 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

@media screen and (min-width: 1024px) {
	.footer__content--right {
		padding: 30px 0 40px 77px;
	}
}

.footer__contact {
	display: block;
	font-size: 1.1em;
	line-height: 1.6em;
	font-weight: 300;
}

.footer__contact__name {
	font-weight: 400;
	font-size: 1.4em;
}

.highlight {
	background-color: #76ba43;
	color: #fff;
}

@media screen and (min-width: 1730px) {
	body {
		margin:0 158px
	}
}


/* hide jetpack smiley face */
img#wpstats{ position:absolute; top:0; width:0px; height:0px; overflow:hidden }