/********** Customise logo, and footer disclaimer **********/
/* Position the corporate logo in the top right of the page */
#header-footer .slide-logo {
  position: absolute;
  top: 15px;
  right: 50px;
  height: 60px;
  width: 150px;
}


/* Style/position the footer text */
#header-footer .slide-footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    text-align: center;
    font-size: 65%;
}

header {
  background-image: url(../images/logo.png);
  background-color:#f5f5dc;
  background-repeat: no-repeat;
}


.div-bc {
  background-color: #23241f;
}

.noborder .reveal section img {
  background:none; 
  border:none; 
  box-shadow:none;
  }
  

.twocolumn {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 10px;
   text-align: left;
}
  
.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

